.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

form .all{
width: 60px;
background:#ddd;
border-radius: 5px 0 0 5px;
}

.left{
display: flex;
align-items:center;
}

.vl {
  border-left: 3px solid white;
  height: 27px;
  left: 50%;
  margin-left: 4px;
  top: 10;
  padding: 5px;
}

.vender{
margin-top:75px;
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
font-size: 1rem;
line-height: 2.15;
padding-left: .75em;
padding-right: .75em;
}
.card-registration .select-arrow {
top: 13px;
}

*{
font-family: 'Poppins', sans-serif;
margin: 0; padding: 0;
box-sizing: border-box;
outline: none; border: none;
text-decoration: none;
text-transform:capitalize;
transition: .2s linear;
}
.container{
background: linear-gradient(35deg, blueviolet, lightgreen)
padding: 15px 9%;
padding-bottom: 10px;
}

.container .heading{
text-align: center;
padding-bottom:15px;
color: #ccc;
text-shadow: 0 5px 10px rgba(0,0,0,.2);
font-size:50px
}
.container .box-container {
	display: grid;
	grid-template-columns:repeat(auto-fit,minmax(270px,1fr));
	gap:15px;
}
.container .box-container .box{
box-shadow: 0 5px 10px rgba(0,0,0,.2);
border-radius:5px;
background:#fff;
text-align: center;
padding: 30px 20px;
}

.container .box-container .box img{
height:80px;
}
.container .box-container .box h3{
color:#444;
font-size: 15px;
padding: 10px 0;
}

.container .box-container .box p{
color:#777;
font-size: 15px;
line-height:1.8;
}
.container .box-container .box  .btn{
margin-top: 10px;
display: inline-block;
background:#333;
color:#fff;
font-size: 17px;
border-radius: 5px;
padding: 8px 25px;
}
.container .box-container .box  .btn:hover{
letter-spacing: 1px;
}
.container .box-container .box:hover{
box-shadow: 0 10px 15px rgba(0,0,0,.3);
transform:scale(1.03);
}
@media(max-width:768px){
 .container{
     padding:20px;
}   }


  .dropdown-toggle:after {
 display: none;
}

.v{
        width:800px;
        height:1200px;
        background-color:skyblue;
        border-style:groove;
        border-style:inset 10px 10px ;
        margin-top: 15px;
        border-radius:10px;
        text-align:center;
        box-shadow: 5px 5px 5px 10px  #888888;
        padding: 10px;
        }
.s{
width:50%;
padding:15px;
border-radius:5px;
border:solid 2px black;
}
.s:hover{
border:solid 3px purple;
 box-shadow: 3px 3px 3px 3px  #888888;
}

/* footer */
.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   padding:10px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index:1;
}
.sticky + .content {
  padding-top: 60px;
}
/**end footer/